@page
@model Razor_Pages_CRUD__ef_core_class_first_.Pages.CRUD.CreateModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"  href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <title>Create</title>
</head>
<body>

<h4>Worker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Worker.Name" class="control-label"></label>
                <input asp-for="Worker.Name" class="form-control" />
                <span asp-validation-for="Worker.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Surname" class="control-label"></label>
                <input asp-for="Worker.Surname" class="form-control" />
                <span asp-validation-for="Worker.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Age" class="control-label"></label>
                <input asp-for="Worker.Age" class="form-control" />
                <span asp-validation-for="Worker.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Address" class="control-label"></label>
                <input asp-for="Worker.Address" class="form-control" />
                <span asp-validation-for="Worker.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker.Salary" class="control-label"></label>
                <input asp-for="Worker.Salary" class="form-control" />
                <span asp-validation-for="Worker.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>



</body>
</html>
